<div class="row">
  <div class="small-12 columns">
    <h1>Editing User</h1>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <%= render 'form' %>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <%= link_to 'Show', @user, class: 'button' %> 
    <%= link_to 'Back', users_path, class: 'button' %>
  </div>
</div>