<h1>New Book</h1>
<p>You have two options:</p>
<h2>Search for a book to add</h2>
<%= render 'search' %>
<%= render 'results' %>

<h2>Fill it in manually</h2>
<%= render 'form' %>

<%= link_to 'Back to all my books', books_path, class: 'button radius info' %>
