<div class="row">
  <div class="small-12">
    <h1>Add a new book</h1>
  </div>
</div>

<% unless params[:google_books_title].present? %>
  <%= render 'search' %>
<% end %>

<% if params[:google_books_query].blank? && params[:google_books_title].blank? %>
  <div class="row">
    <div class="small-12">
      <p>If you don't want to search for a book, you can enter the book details yourself:</p>
    </div>
  </div>
<% end %>

<% if params[:google_books_query].present? %>
  <%= render 'results' %>
<% else %>
  <%= render 'form' %>
<% end %>