<%# add navigation links to this file %>
<% if logged_in? %>
  <li><%= link_to 'My books', books_path %></li>
  <% if current_user.admin? %>
    <li><%= link_to 'Manage users', users_path %></li>
    <% end %>
  <li><%= link_to 'Log out', logout_path %></li>
  <% else %>
  <li><a href="/auth/facebook">Log in</a></li>
<% end %>